.book-search {
  .form-fields {
    padding: 16px;
    text-align: center;

    .field {
      margin-bottom: 5px;
    }
  }

  .book-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    .book {
      width: 320px;
      margin: 10px 10px 0px 0px;
    }
  }
}